.date-button-container {
    display: flex;
    border: 1px solid #878787;
    border-radius: 2px;
    overflow: hidden;
    width: 300px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .left-side, .right-side {
    flex: 1;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .left-side:hover, .right-side:hover {
    background-color: #e0e0e0;
  }
  
  .left-side {
    border-right: 1px solid #878787;
  }
  
  .selected-date {
    margin-top: 5px;
    font-size: 12px;
    color: #555;
  }
  
  .hidden-input {
    display: none; 
  }